/** Home Page styles */
h1 {
    margin-bottom: 0;
    margin-top: 0;
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}

.home article {
    background-image: $gradient-top-left;
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    @include screen-greater-than( tablet ) {
        background-image: url("assets/furniture/pngtree-corporate-digital-network-presentation-with-abstract-world-map-and-global-cyber-picture-image_10240966.png");
    }
}