/** Newsletter signup style */

.w-full {
    width: 100%;
}

.h-10 {
    line-height: 2.5rem!important;
    padding: 0!important;
}

.p-2 {
    padding: 0 0.5rem!important;
}


.homepage--newsletter-signup__inner {
    form {
        padding: 5%;
    }
    p {
        font-size: 1.25rem;
        color: $OHLightGreen;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
.homepage--newsletter-signup__content {
    padding: 0.25rem 0.85rem;
}