// /** Navigation styles */

$menuItems: 8;

.menu-mobile-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgba($sapphire-sky,0.8);
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 1;
    @include screen-greater-than(tablet)
    {
        display: none;
    }
    .burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        width: 50px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s $cubic;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        #burger {
            width: 18px;
            height: 8px;
            position: relative;
            display: block;
            margin: -4px auto 0;
            top: 50%;
            .bar {
                width: 100%;
                height: 1px;
                display: block;
                position: relative;
                background: #fff;
                transition: all 0.3s $cubic;
                transition-delay: 0s;
                &.topBar {
                    transform: translateY(0px) rotate(0deg);
                }
                &.btmBar {
                    transform: translateY(6px) rotate(0deg);
                }
            }
        }
    }
    .menu-main-menu-container ul {
        margin-left: 0;
        position: relative;
        display: block;
        padding: 0px 48px 0;
        list-style: none;
        li.menu-item {
            border-bottom: 1px solid $sky-blue;
            // margin-top: 5px;
            transform: scale(1.15) translateY(-30px);
            opacity: 0;
            transition: transform 0.5s $cubic, opacity 0.6s $cubic;
            @for $i from 1 through $menuItems {
                &:nth-child(#{$i}) {
                    transition-delay: #{0.56 - ($i * 0.07)}s;
                }
            }
            a {
                display: block;
                position: relative;
                color: #FFF;
                // font-family: $mukta;
                // font-weight: 100;
                text-decoration: none;
                font-size: 1.25rem;
                line-height: 1.8;
                font-weight: 400;
                width: 100%;
            }
        }
    }
    &.menu-opened {
        height: 100%;
        background-color: $sapphire-sky;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
        .burger-container {
            transform: rotate(90deg);
            #burger {
                .bar {
                    transition: all 0.4s $cubic;
                    transition-delay: 0.2s;
                    &.topBar {
                        transform: translateY(4px) rotate(45deg);
                    }
                    &.btmBar {
                        transform: translateY(3px) rotate(-45deg);
                    }
                }
            }
        }
        #menu-main-menu {
            li.menu-item {
                transform: scale(1) translateY(0px);
                opacity: 1!important;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.07 * $i+0.2}s;
                    }
                }
            }
        }
    }
}

.menu-home-container,
.menu-primary-container
{
    display: none;
    @include screen-greater-than( tablet )
    {
        display: block;
        background-image: $gradient-bottom-left;
        .menu {
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            li {
                padding: 0.5rem 0.85rem;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: 400;
                display: block;
                &:hover {
                    color: $sky-blue;
                }
            }
        }

    }
}

