/** Shop Filter styles */
.shop--filter {
    &__wrapper {
        padding-left:0.85rem;
    }
    &__button {
        cursor: pointer;
        text-align: center;
    }
    &__category {
        cursor: pointer;
    }
    &__category-name {
        &:hover {
            background-color: $OHLightGreen;
            color: $OHDarkGrey;
        }
        &.selected {
            color: $OHLightGreen;
        }
    }


    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // &__category {
    //     width: 50%;
    //     padding: 1%;
    //     &-image {
    //         position: relative;
    //         img {
    //             width: 100%;
    //             position: absolute;
    //             left: 0;
    //             top: 50%;
    //             transform: translateY(-50%);
    //         }
    //     }
    // }
}