/** Tiles styles */

.tiles > div {
    background-color: $lightGrey;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid $darkGrey;
    margin-bottom: 2rem;
    max-width: 320px;
    h2 {
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
    }
    @include screen-greater-than(tablet) {

    }
    .tile__icon {
        display: flex;
        justify-content: center;
    }
}