/** Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: $header-family;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    // text-transform: uppercase;
    font-weight: 700;
    color: $persian-blue;
} 

h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}