/** Fonts */
@font-face {
    font-family: "BelleFair";
    src: url("assets/fonts/Bellefair-Regular.woff2") format("woff2"),
      url("assets/fonts/Bellefair-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
      url("assets/fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  // @font-face {
  //   font-family: "Poppins";
  //   src: url("../../assets/fonts/BeVietnamPro-Bold.woff2") format("woff2"),
  //     url("../../assets/fonts/BeVietnamPro-Bold.woff") format("woff");
  //   font-weight: 700;
  //   font-style: normal;
  // }
  
  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Regular.woff2") format("woff2"),
      url("assets/fonts/Poppins-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  $font-family: "Montserrat", sans-serif;
  $header-family: "Bellefair", serif;
  
  body {
    font-family: $font-family;
  }
  