/** Colours*/
/* SCSS HEX */
$deep-sky-blue: #00C2FAff;
$persian-blue: #0637C5ff;
$sapphire-sky: #0063E3ff;
$fresh-sky: #17A5F4ff;
$sky-blue: #6FC7F3ff;

$gradient-top: linear-gradient(0deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-right: linear-gradient(90deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-bottom: linear-gradient(180deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-left: linear-gradient(270deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-top-right: linear-gradient(45deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-bottom-right: linear-gradient(135deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-top-left: linear-gradient(225deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-bottom-left: linear-gradient(315deg, #00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);
$gradient-radial: radial-gradient(#00C2FAff, #0637C5ff, #0063E3ff, #17A5F4ff, #6FC7F3ff);