/** Variables */

/** Breakpoints */

$TWTablet: 768px;
$TWDesktop: 1200px;


// Border Radii
$borderRadius: 0.1875rem;
$btnRadius: 0.125rem;
$formRadius: 0.5rem;

$maxWidth-Narrow: 729px;

$aspectRatioPercentage: 56.25%;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

.hidden {
    display: none;
}

