/** Page templates styles */

.two-column-wrapper{
    margin-bottom: 2rem!important;
    img {
        margin: 0 auto;
        display: block;
    }
    @include screen-greater-than( tablet ) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > div {
            width: 49%;
        }
        h2 {
            margin-top: -1rem;
        }
    }
}