/** WRappers styles */

.max-wrapper {
    padding: 0 5%;
    max-width: $maxWidth;
    margin: 0 auto;
    @include screen-greater-than(tablet){
        // padding: 0 15%;
    }
    &__narrow {
        max-width: $maxWidth-Narrow;
        margin: 0 auto;
    }
}

.cta--wrapper {
    display: flex;
    justify-content: center;
}